.events {
  margin: 20px;
}

.events__list {
  margin-bottom: 20px;
}

.events__item {
  margin-bottom: 7px;
  display: block;
  width: 370px;
  color: #333;
  text-decoration: none;
}

.events__item:hover {
  background-color: rgb(54, 117, 168);
  color: rgb(189, 214, 216);
}
